:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --success: #31D0AA;
    --slate: #434455;
    --subtle-text: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --white: #FFF;
    --modal-background: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--slate, #434455);
    background-color: var(--white);
}
address {
    font-style: normal
}


/* General styles*/
.list {
    list-style: none;
}
.link {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.footer .logo,
.navbar .logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    color: var(--iris);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer .logo .logo-head,
.navbar .logo .logo-head {
    color: var(--navyblue);
}
.footer .logo .logo-foot
.navbar .logo .logo-foot {
    color: var(--cloud);
}

.btn {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.btn:focus {
    outline: none;
}

.strategy-section .title,
.work-section .title,
.team-section .title,
.pages-section .title {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


/* Header */
.header .list-item {
    color: var(--navyblue);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.header .list-item, .header .address-item {   
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header .address-item:hover, .header .address-item:focus,
.header .list-item:hover, .header .list-item:focus {
    color: var(--ocean);
}

/* Footer */
.footer {
    background-color: var(--navyblue);
}
.copyright-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}



/* Studio page */

.hero-section .service-btn {
    background-color: var(--iris, #4D5AE5);
    color: var(--white);
}
.hero-section .service-btn:hover, 
.hero-section .service-btn:focus {
    background-color: var(--ocean, #404BBF);
}
.hero-section .title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.hero-section {
    background-color: var(--navyblue);
}
.team-section {
    background-color: var(--cloud);
}
.team-section .title, 
.strategy-section .title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.team-section .text,
.strategy-section .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Portfolio page  */

.filter-btn{
    background: var(--cloud);
    color: var(--iris);
}
.filter-btn:hover, 
.filter-btn:focus {
    background: var(--ocean);
    color: var(--white);
}
.pages-section .title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.pages-section .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}