:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --success: #31D0AA;
    --slate: #434455;
    --subtle-text: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --white: #FFF;
    --modal-background: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: var(--slate, #434455);
    background-color: var(--white);
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

/* General styles*/
.logo {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo span {
    color: var(--navyblue);
}
.btn {
   
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.btn:focus {
    outline: none;
}
.section-title {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


/* Header */
.header-nav .nav-item {
    color: var(--navyblue);
}
.header-nav .nav-item, .header-nav .address-item {   
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-nav .address-item:hover, .header-nav .address-item:focus,
.header-nav .nav-item:hover, .header-nav .nav-item:focus {
    color: var(--ocean);
}

/* Footer */
.copyright-text {
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}



/* Studio page */
#hero-section .service-btn {
    background: var(--iris, #4D5AE5);
    color: var(--white);
}
#hero-section .service-btn:hover, #hero-section .service-btn:focus{
    background: var(--ocean, #404BBF);
}
#hero-section .title {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
#strategy-section h3 {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
#strategy-section p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}
#team-section h3 {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
#team-section p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Portfolio page  */
#filters-section .filter-btn{
    background: var(--cloud);
    color: var(--iris);
}
#filters-section .filter-btn:hover, #filters .filter-btn:focus {
    background: var(--ocean);
    color: var(--white);
}
#pages-section h3 {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
#pages-section p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}